.xans-member-findidresult .complete { margin:0 auto; text-align:center;
    max-width:474px;
 }
.xans-member-findidresult .complete .infoDesc{
    text-align: center;
    margin-bottom: 50px;
    font-size: 14px;
}
.xans-member-findidresult .complete .headDesc { margin:0 0 20px; }
.xans-member-findidresult .ec-base-desc { margin:0 0 20px; padding:20px 0 10px; border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; }
.xans-member-findidresult .ec-base-desc li { margin:0 0 10px; }
.xans-member-findidresult .description { margin:20px 0 0; text-align:left; }
.xans-member-findidresult label { display:block; margin:10px 0 0; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	.xans-member-findidresult .description { margin:20px 7px 0; } 
}

