.tab-style1{
    display: flex;
    justify-content: space-between;
}
.ec-base-table{border-top: none !important;}


.ec-base-tab.xans-order-tabinfo{}
.ec-base-tab.xans-order-tabinfo .menu{display: flex;gap: 20px;}
.ec-base-tab.xans-order-tabinfo .menu li{}
.ec-base-tab.xans-order-tabinfo .menu li a{color: #a7a7a7;}
.ec-base-tab.xans-order-tabinfo .menu li.selected{font-weight: 500;}
.ec-base-tab.xans-order-tabinfo .menu li.selected a{color:#000;}
.ec-base-tab.xans-order-tabinfo .menu::after{display: none;}

.xans-order-basketpackage .title.subTitle { display:block; padding:0; }
.xans-order-basketpackage .title.subTitle:after { display:none; }
.xans-order-basketpackage .title.subTitle h4 { display:block; padding: 10px 0; font-size:12px; }
.xans-order-basketpackage .summary { padding:20px; border-bottom:1px solid #e5e5e5; background:#f9f9f9; display: none;}
.xans-order-basketpackage .summary .title { margin:0 0 10px; }
.xans-order-basketpackage .summary .title h5 { font-size:13px; font-weight:normal; }
.xans-order-basketpackage .summary .contents { line-height:20px; }
.xans-order-basketpackage .summary .total { display:block; margin:5px 0 0; }

.xans-order-basketpackage .xans-order-weight .totalWeight {text-align: right; padding: 14px; font-size: 13px; border-bottom: 1px solid #d5d5d5; }
.xans-order-basketpackage .xans-order-weight .totalWeight span {display: inline-block;min-width: 50px;}

.xans-order-basketpackage .totalSummary__title { }
.xans-order-basketpackage .totalSummary { border-top: 2px solid #000; border-bottom: 1px solid #000; }
.xans-order-basketpackage .totalSummary .flex{ display: flex; }
.xans-order-basketpackage .totalSummary .flex > *{ display: flex; flex-direction: column; flex: 1; }
.xans-order-basketpackage .totalSummary .flex .wrap{ position: relative; flex: 1; padding: 0 20px 20px; }
.xans-order-basketpackage .totalSummary .flex > *:not(:first-child) .wrap::before{ position: absolute; left: 0; width: 1px; height: calc(100% - 20px); background: #eee; content: ''; top: 10px; }

.xans-order-basketpackage .totalSummary__item > .title{ text-align: center; }

.xans-order-basketpackage .totalSummary__item .item {
     display:flex;
     justify-content: space-between;
     color:#aaa; 
        font-size: 12px;
        padding: 5px 0;
    }
    .xans-order-basketpackage .totalSummary__item .item .title{
        font-size: 12px;
        padding: 0;
        border-bottom: 0;
    }
.xans-order-basketpackage .totalSummary__item .title {
     font-size: 16px;
     font-weight: 500;
     border-bottom: 1px solid #eee;
     padding: 20px 0;
    }
.xans-order-basketpackage .totalSummary__item .result { 
    font-size: 18px;
    font-weight: 500;
    padding: 30px 0;

}
.xans-order-basketpackage .totalSummary__item .data { }
/* .xans-order-basketpackage .totalSummary .item .title:before { content:""; display:inline-block; width:9px; height:9px; margin:-2px 10px 0 0; vertical-align:top; border-left: 1px solid #dadada; border-bottom: 1px solid #dadada; } */
.xans-order-basketpackage .totalSummary .total {
     /* display:flex;  */
     /* justify-content: space-between; overflow:hidden; */
      /* margin:20px 0 0; padding:20px 0 0; */
       /* border-top:1px solid #e5e5e5;  */
       text-align: center;
    }
.xans-order-basketpackage .totalSummary .total .title { }
.xans-order-basketpackage .totalSummary .paymentPrice { }
.xans-order-basketpackage .totalSummary .paymentPrice strong,
.xans-order-basketpackage .totalSummary .paymentPrice span { display:inline-block; word-break:break-all; }
.xans-order-basketpackage .totalSummary .paymentPrice strong { 
    }
.xans-order-basketpackage .totalSummary .title p .refer,
.xans-order-basketpackage .totalSummary .title div .refer { display:inline-block; font-size:12px; word-break:break-all; }
.xans-order-basketpackage .totalSummary .ec-base-help { margin:10px 0; }

#NaverChk_Button { margin:14px 0 0; }

.xans-order-basketpackage td .box.shipping { line-height:1.3em; }
.xans-order-basketpackage td .box.shipping .shippingArea { font-size:12px; line-height:1.3em; }
.xans-order-basketpackage .shippingFee { position:relative; display:inline-block; vertical-align:middle; text-align:left; }
.xans-order-basketpackage .shippingFee .ec-base-tooltip { display:block; margin:0 0 0 -340px; width:360px; }
.xans-order-basketpackage .ec-base-table.total .ec-base-tooltip table th { width:40px; }
.xans-order-basketpackage .ec-base-table.total .ec-base-tooltip table th,
.xans-order-basketpackage .ec-base-table.total .ec-base-tooltip table td { padding:7px 10px 8px 10px; height:auto; font-size:12px; line-height:1.5; text-align:left; }



.xans-order-basketpackage .xans-order-list{
    border-top: 2px solid #000;
}

.xans-order-basketpackage .select-btn{
    margin-bottom: 20px;
}


.xans-order-basketpackage .totalSummary__item .title.m{display: none;}
@media all and (max-width:1025px) {

   

    .xans-order-basketpackage .totalSummary{ border: 0; }
    .xans-order-basketpackage .totalSummary .flex{ display: block; }
    .xans-order-basketpackage .totalSummary__item .title.pc{display: none;}
    .xans-order-basketpackage .totalSummary__item .title.m{display: block; font-size: 14px; padding: 10px 0; border-bottom: 0; }
    .xans-order-basketpackage .totalSummary__item .result{ font-size: 16px; padding: 10px 0; }
    .xans-order-basketpackage .totalSummary .flex .wrap{ display: flex; flex-wrap: wrap; padding: 0; justify-content: space-between; }
    .xans-order-basketpackage .totalSummary__item .contents{ flex: 1 0 100%; }
    .xans-order-basketpackage .totalSummary .total{ border-top: 1px solid #eee; }
    .xans-order-basketpackage .totalSummary__item.total .title.m{ font-weight: 600; padding: 20px 0; }
    .xans-order-basketpackage .totalSummary__item.total .result{ font-size: 16px; padding: 20px 0; }
    .xans-order-basketpackage .totalSummary .flex > *:not(:first-child){border-top: 1px solid #eee;}
    .xans-order-basketpackage .totalSummary .flex > *:not(:first-child) .wrap::before{ display: none; }
    .xans-order-basketpackage .totalSummary__item .contents { margin-bottom: 10px; }

    
}

@media all and (max-width:768px) {
    .tab-style1{
        flex-direction: column;
    }
    .ec-base-tab.xans-order-tabinfo .menu{gap: 10px;}
    .ec-base-tab .menu li a{font-size: 14px;}
}




/* .xans-order-basketpackage .ec-base-prdInfo .description .prdName{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
}
.xans-order-basketpackage .ec-base-prdInfo .description .price, 
.xans-order-basketpackage .ec-base-prdInfo .description .price li {
    font-size: 13px;
    color: rgb(48, 48, 51);
    line-height: 20px;
} */



/********************* Mobile / Tablet *********************/
/* @media all and (max-width:1024px) {
    .xans-order-basketpackage .xans-order-tabinfo { margin:0 0 40px; }
	.xans-order-basketpackage .totalSummary { margin:0 16px; }
} */

/********************* PC *********************/
/* @media all and (min-width:1025px) {
    .cart-container { display:flex; }
    .cart-product { flex:1; }
    .cart-total { position:relative; width:300px; margin:0 0 0 47px; }
    .cart-total .sticky { position:sticky; top:60px; }
	.xans-order-basketpackage .xans-order-tabinfo { margin:40px 0 54px; }
    .xans-order-basketpackage .summary { margin:40px 0; }
    .xans-order-basketpackage .ec-base-prdInfo .description { margin:0 20% 0 0; }
    #orderFixArea { display:none !important; }
} */