 <!--@헤더 -->
 <header id="header">
        
    <!--import(/layout/basic/topbanner.html)-->
    <!--import(/layout/basic/topbanner2.html)-->


    <!--@상단배너 -->
    <div class="header-inner">
         <h1 module="Layout_LogoTop" class="logo">
            <a href="/index.html"><img src="{$logo}" alt="{$mall_name}" /></a>
        </h1>
        <!--@import(/layout/basic/navigation.html)-->
        <!--@import(/layout/basic/state_login.html)-->
        
    </div>
    <!--@import(/layout/basic/search.html)-->
</header>