@charset "utf-8";

/* **************************** //필수 CSS 수정 및 삭제 불가 **************************** */



@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Light.woff') format('woff');
    font-weight: 300;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-SemiBold.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: 'Pretendard';
    src: url('/fonts/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
}

@font-face {
    font-family: 'ak';
    src: url('/fonts/ak.otf') format('opentype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
}







:root{
    /* --font:"Bebas Neue", sans-serif; */
    /* --font:"cd", sans-serif; */
    --en: 'ak','Pretendard', serif;
    --font:'Archivo','Pretendard',Arial,"Apple SD Gothic Neo","Noto Sans Regular","맑은 고딕","malgun gothic","돋움","dotum",sans-serif;
    --point-color1:#000;
}

/* tag reset */
*{
	font:inherit;
	color:inherit;	
	margin: 0;padding: 0;
}
html { width:100%; height:100%; }
body{
font-size:12px; 
font-family:var(--font);
 background:#fff; 
 color: #000;

}
a{
	text-decoration:none;
}
body#popup { min-width:0; }
ul,ol { list-style:none; }
img, picture, video, canvas, svg {display: block;max-width:100%;}
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
th,td { border:0; vertical-align:top; }
fieldset{border: 0;}
input,select,textarea {
border: 0;
appearance: none;
 border-radius:0;}
button{
    border:none;
    cursor:pointer;
    background: none;
    }





 html.scroll-hidden body { overflow: hidden; position: relative; height: 100%; }
    
.blind{
    position: absolute;
    width: 1px;height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}
.blind2{
    position: absolute;
    width: 1px;height: 1px;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
}

.inner{
    max-width: 1480px;
    padding: 0 40px;
    margin: 0 auto;
}

.bg1{
    background: #000;
}

.btn{
    display: inline-flex;
    width: 120px;
    height: 40px;
    border: 1px solid #fff;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}
.btn.link2{
    border: 1px solid #000;
    color: #000;
}

.btn2{
    display: inline-flex;
    padding: 0 15px;
    height: 40px;
    color: #000;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #fff;
    position: relative;
}
.btn2::after{
    position: absolute;
    bottom: 0;left: 0;
    height: 2px;
    width: 100%;
    background: #fff;
    content: '';
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}
.btn2:hover::after{
    transform: scaleX(1);
    transform-origin: left;
}






.objHidden { visibility:hidden; position:absolute; left:-1000px; top:-1000px; height:0; width:0; }
#content_CONTAINER table, #bi_inquire_content_CONTAINER table { border:0; margin:0 0 -1px; }
#content_CONTAINER table:before, #bi_inquire_content_CONTAINER table:before { display:none; }
#content_CONTAINER td, #bi_inquire_content_CONTAINER td { width:auto !important; padding:0; }

#progressPaybarBackground { position:absolute; z-index:99; left:0; top:0; width:100%; height:100%; filter:alpha(opacity=40); opacity:0.3; background-color:#000; }
#progressPaybarView { position:fixed; z-index:100; top:50%; left:0; right:0; transform:translateY(-50%); }
#progressPaybarView h3 { font-size:32px; color:#444b59; }
#progressPaybarView .box { width:586px; margin:0 auto; padding:67px 0; text-align:center; background:#fff; }
#progressPaybarView .box .txt { margin:8px 0 36px; font-size:15px; line-height:26px; color:#667084; }

/* contents */
#skipNavigation {position:absolute; top:0; left:0; z-index:100; width:100%; height:0;}
#skipNavigation p, #skipNavigation ul, #skipNavigation ul li {height:0;}
#skipNavigation p a {position:absolute; left:0; top:0; display:block; overflow:hidden; width:1px; height:1px; margin-left:-1px; margin-bottom:-1px; text-align:center; color:#000; white-space:nowrap;}
#skipNavigation p a:focus, #skipNavigation p a:hover, #skipNavigation p a:active {width:100%; height:auto; padding:10px 0; background:#c4122f; color:#fff; z-index:100;}

.displaynone { display:none; }
.dimmed { position:fixed; top:0; left:0; z-index:99; width:100%; height:100%; background:#fff; opacity:0.8; filter:alpha(opacity=80); }
/* .blind { display: block; overflow: hidden; position: absolute; font-size: 1px; line-height: 0; color: transparent; text-indent: -150%; white-space: nowrap;} */

/* IE Not Supoorted */
:root {
  --font-color-base:#000;
  --font-color-heading:#000;
  --font-color-primary:#000;
  --font-color-secondary:#ef441f;
  --font-color-warn:#ec2a1d;
  --font-color-success:#0985df;
}

/* **************************** 필수 CSS 수정 및 삭제 불가 **************************** */





.ic-more{
    width: 10px;
    height: 10px;
    background-image: url(/img/ic_plus.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}
.ic-more.minus{
    background-image: url(/img/ic_minus.svg);

}














body#popup .ec-base-layer.agreementArea .agree{}
body#popup .ec-base-layer .close, 
body#popup .ec-base-layer button.btnClose,
body#popup .ec-base-layer .btnClose > a{transform: rotate(0);}

body #mCafe24Order .ec-base-mail .mailAddress .directInput input{
    background: #fff;
}
@media (max-width:768px) {
    
    body .order_detail_recode1 thead{display: none;}
    body .order_detail_recode1 colgroup{}
    body .order_detail_recode1 colgroup col:nth-child(1){width: 100px !important; }
    body .order_detail_recode1 colgroup col:nth-child(3),
    body .order_detail_recode1 colgroup col:nth-child(4){display: none;}

    .xans-myshop-orderhistorydetail .order_detail_recode1 .productList > ul > li .product{padding: 10px;}
    .xans-myshop-orderhistorydetail .order_detail_recode1 .productList > ul > li{
        display: block;
    }
    .xans-myshop-orderhistorydetail .order_detail_recode1 .productList > ul > li .quantity,
    .xans-myshop-orderhistorydetail .order_detail_recode1 .productList > ul > li .price{
        display: block;
        padding: 10px;
        text-align: left;
    }
    

}

