body #container{ padding:0}
body #contents{ max-width: 100%; padding: 0; }

@media (max-width:1280px) {
    
}
body #header{background: none;
    position: fixed;
    top: 0;left: 0;
    width: 100%;
    max-width: 100%;
    z-index: 3000;
}
/* body #header .header-inner{height: 100px;}
body #header .logo img{height: 50px;} */
/* body #header{ background: none; color: #fff; }
body #header.white{ background: #fff; color: #000; }
body #header .logo {filter:none}
body #header.white .logo {filter: invert(1);}
body #header .header-inner{ }
body #header .gnb .sub{  }
body #header .header-inner .btn-menu span{background: #fff;}
body #header .util-area a path{fill:#fff} */

/* body #header{color: #fff;}
body #header .logo{filter: invert(1);} */

/* Cormorant Garamond */


.sec1{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100svh;
    overflow: hidden;
    /* background: #f5f5f5; */
    background: #fff;
}
.sec1 .prd-list{
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);     */
    display: grid;
    grid-template-columns: repeat(7,1fr);
    gap: 20px;
    width: 200vw;
    padding: 20px;
    box-sizing: border-box;
    /* transition: .3s linear; */
}

.sec1 .prd-list.size_s{grid-template-columns: repeat(9,1fr);}
.sec1 .prd-list.size_m{grid-template-columns: repeat(7,1fr);}
.sec1 .prd-list.size_l{grid-template-columns: repeat(5,1fr);}
@media (max-width:768px) {
    .sec1 .prd-list{gap: 10px;padding: 10px 10px 100px;}
    .sec1 .prd-list.size_s{grid-template-columns: repeat(6,1fr);}
    .sec1 .prd-list.size_m{grid-template-columns: repeat(4,1fr);}
    .sec1 .prd-list.size_l{grid-template-columns: repeat(2,1fr);}
}

.progress{
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2000;
    display: flex;
    justify-content: center;
    font-size: 16px;
}
.progress button{
    flex: 1;
    background: #fff;
    padding: 5px 20px;
}
.progress button:hover{
    opacity: 0.5;
}
.progress button.on{
    background: #000;
    color: #fff;
}


.sec1 .prd-list .text-box,
.sec1 .prd-list .colorhip_wrap{
    display: none;
}

/* body .footer{display: none;}

body .main-footer{
    position: fixed;
    bottom: 0;left: 0;
    width: 100%;
    z-index: 2000;
    pointer-events: none;
}
body .main-footer .footer{display: block;}
body .footer .group-col{display: none;}
body .main-footer .footer{background: transparent;}
body .footer .info{
    flex-direction: row;
    padding-top: 0;
    margin-top: 0;
    border-top: 0;
    justify-content: space-between;
}
body .footer .info > *{pointer-events: auto;} */

@media (max-width:1024px) {
    


}

.pc-vis{display: block;}
.m-vis{display: none;}
@media (max-width:768px) {
    .pc-vis{display: none;}
    .m-vis{display: block;}
    .progress{font-size: 12px;}
    .progress button{padding: 4px 10px;}
    
}