.xans-member-updateeventpopup {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1000;
    width: 353px;
    transform: translate(-50%, -50%);
}
.xans-member-updateeventpopup.ec-base-layer .content { padding:0 0 0 20px; height:369px; background:#527ad0 url("//img.echosting.cafe24.com/skin/base_ko_KR/member/bg_modify_event_layer.jpg") no-repeat 0 0; }
.xans-member-updateeventpopup .content > h2 { margin:0 0 20px; padding:48px 0 0; }
.xans-member-updateeventpopup .content > p { margin:0; font-size:12px; color:#fbfafa; font-family:Dotum; line-height:1.4; }
.xans-member-updateeventpopup .content .btnModify { display:inline-block; margin:40px 0 0 0; }
.xans-member-updateeventpopup.ec-base-layer .ec-base-button { 
    overflow:hidden; padding:15px; text-align:right; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.xans-member-updateeventpopup.ec-base-layer .ec-base-button:after{display: none;}
.xans-member-updateeventpopup.ec-base-layer .ec-base-button label { float:left; 
    line-height: auto;
}
.xans-member-updateeventpopup.ec-base-layer .ec-base-button a{
    border: 1px solid #000;
    padding: 5px 15px;
    font-size: 12px;
} 

