/* reset */
li { list-style:none; }
table { width:100%; border:0; border-spacing:0; border-collapse:collapse; }
caption { display:none; }
h1, h3 { margin:0; }

.ec-base-layer-area {  position: fixed; top: 0; right: 0; bottom: 0; left: 0; background: rgba(0,0,0,0.3); z-index: 1000; }
.ec-base-layer { z-index:1001; border:1px solid #000; background:#fff; box-sizing:border-box; }
.ec-base-layer .header { margin:0 20px; padding:20px 20px 20px 0; color:#000; border-bottom:1px solid #e5e5e5; }
.ec-base-layer > .header > h1,
.ec-base-layer > .header > h3,
.ec-base-layer > .header > h5 { font-size:16px; font-weight: normal; }
.ec-base-layer > .content { padding: 20px; font-size:13px; line-height: 22px; min-height: 90px; box-sizing:border-box; }
.ec-base-layer div.ec-base-help { margin-top:0; }
.ec-base-layer .btnClose { position:absolute; right:7px; top:7px; padding:10px; cursor:pointer; display:block; overflow:hidden; width:20px; height:20px; font-size:1px; line-height:0; color:transparent; white-space:nowrap; -webkit-transform:rotate(45deg); transform:rotate(45deg); }
.ec-base-layer .btnClose:before { content:""; position:absolute; top:0; right:10px; width:1px; height:21px; margin:10px 10px 0 0; background:#000; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
.ec-base-layer .btnClose:after { content:""; position:absolute; top:10px; right:0; width:21px; height:1px; margin:10px 10px 0 0; background:#000; -webkit-transition:.3s ease-out; transition:.3s ease-out; }
	/* typeModal */
	.ec-base-layer.typeModal { position:fixed; top:50%; left:0; right:0; margin:0 auto; transform:translateY(calc(-50% + 0.5px)); }
    /* typeLayer */
	.ec-base-layer.typeLayer { position:absolute; margin-top:10px; }
    /* typeSide */
    .ec-base-layer.typeSide { position:fixed; display: flex; flex-direction: column; height:100%; border: 0; }
    .ec-base-layer.typeSide .header { padding: 74px 16px 10px; margin: 0; border: 0; }
	.ec-base-layer.typeSide .header h2 { font-size: 18px; font-weight:normal; }
	.ec-base-layer.typeSide .content { position: relative; padding: 0; flex: 1; overflow: auto; height:100%; }
    .ec-base-layer.typeSide .ec-base-button[class*="gColumn"] {margin: 25px 16px; }
    .ec-base-layer.typeSide .btnClose { top:5px; width:24px; height:24px; padding: 20px 17px; }
    .ec-base-layer.typeSide .btnClose:before {right:12px; height:25px; }
    .ec-base-layer.typeSide .btnClose:after {top:12px; width:25px;}
    /* gAlert */
    .ec-base-layer.gAlert > .header { display: block; overflow: hidden; position: absolute; font-size: 1px; line-height: 0; color: transparent; text-indent: -150%; white-space: nowrap; padding: 0; color: transparent; border: 0; }
    .ec-base-layer.gAlert > .content { padding:45px 0 25px; text-align:center; }
    /* gScroll */
    .ec-base-layer.gScroll { height:auto; }
    .ec-base-layer.gScroll > .content { overflow:auto; height:auto; max-height:70vh; }

/* popup */
#popup { padding:0 0 30px; max-width: 900px;width: 100%;margin: 0 auto;}
#popup .ec-base-layer { z-index:0; border:0; }
#popup .ec-base-layer .btnClose { top:5px; }

/********************* Mobile / Tablet *********************/
/*  */

/********************* PC *********************/
 @media all and (min-width:1025px) {
    .ec-base-layer { min-width:308px; }
    .ec-base-layer.typeSide { top: 0; right: 0; left: auto; bottom: 0; width: 458px; }
  	.ec-base-layer.gAlert { width:360px; }
} 



.xans-myshop-orderhistorydetail .ec-base-box{ border: 0; }
.xans-myshop-orderissuetax div.ec-base-help p, 
.xans-myshop-orderissuetax div.ec-base-help li{ font-size: 12px; }
.xans-myshop-orderissuetax .titleArea--middle{ padding: 10px 0; background: none; }
.xans-myshop-orderissuetax .ec-base-table.typeWrite th,
.xans-myshop-orderissuetax .ec-base-table.typeWrite td,
.xans-myshop-orderissuetax .ec-base-table.typeWrite td.formGroup,
.xans-myshop-orderissuetax .ec-base-table.typeWrite .formGroup.code{ padding: 0; }
.xans-myshop-orderissuetax .ec-base-table.typeWrite .formGroup{ gap:5px; }
.xans-myshop-orderissuetax .ec-base-table.typeWrite th{ padding: 8px 0; }
.xans-myshop-orderissuetax .ec-base-table { border-top: 1px solid #e5e5e5; }
.xans-myshop-orderissuetax #mall_addr_addr1{ margin-bottom: 5px; }
.xans-myshop-orderissuetax #mall_addr_btn{ margin-left: 5px; border: 1px solid #000; }
.xans-myshop-orderissuetax .radio-style1 { display: flex; gap: 10px; }
.xans-myshop-orderissuetax .radio-style1 input[type="radio"] { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0,0,0,0); margin: -1px; }
.xans-myshop-orderissuetax .radio-style1 label { display: flex; margin: 0 !important; gap: 10px; align-items: center; background: #eee; padding: 0 15px; cursor: pointer; font-size: 12px; border-radius: 10px; line-height: 22px !important; }
.xans-myshop-orderissuetax .radio-style1 input:checked+label { background: #000; color: #fff; }
.xans-myshop-orderissuetax .ec-base-table.typeWrite .formGroup input[type="text"],
.xans-myshop-orderissuetax .ec-base-table.typeWrite .formGroup input[type="password"],
.xans-myshop-orderissuetax .ec-base-table.typeWrite .formGroup select,
.xans-myshop-orderissuetax .ec-base-table.typeWrite .formGroup [class^="btn"]{ margin: 0; box-sizing: border-box; }


.xans-coupon-couponlist .content{ padding: 10px 20px 20px; }
.xans-coupon-couponlist .ec-base-prdInfo .prdBox{ }
.xans-coupon-couponlist .ec-base-prdInfo{padding: 10px 0;}
.xans-coupon-couponlist .ec-base-prdInfo .thumbnail{width: 80px; height: 80px;}
.xans-coupon-couponlist .ec-base-prdInfo .optionGroup{font-size: 11px;}
.xans-coupon-couponlist .price-table .box { display: flex; flex-direction: column; }
.xans-coupon-couponlist .price-table .box .txtInfo { display: flex; align-items: center; gap: 3px; margin: 0;justify-content: center; }
.xans-coupon-couponlist .price-table .total-wrap .wrap{display: flex; justify-content: flex-end;}
.xans-coupon-couponlist .ec-base-table .center td{padding: 0; white-space: nowrap; padding: 10px 0; }
.xans-coupon-couponlist .price-table td.left { text-align: center; }
.xans-coupon-couponlist .price-table .total-wrap .total{display: flex;align-items: center;gap: 3px;}


.xans-myshop-orderhistoryaccount .ec-base-table{border: 0 !important;}
.xans-myshop-orderhistoryaccount .ec-base-box{ border: 0; }
.xans-myshop-orderhistoryaccount div.ec-base-help p, 
.xans-myshop-orderhistoryaccount div.ec-base-help li{ font-size: 12px; }
.xans-myshop-orderhistoryaccount .titleArea--middle{ padding: 10px 0; background: none; }
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite th,
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite td,
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite td.formGroup,
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite .formGroup.code{ padding: 0; }
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite .formGroup{ gap:5px; }
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite th{ padding: 8px 0; }
.xans-myshop-orderhistoryaccount .ec-base-table { border-top: 1px solid #e5e5e5; }
.xans-myshop-orderhistoryaccount #mall_addr_addr1{ margin-bottom: 5px; }
.xans-myshop-orderhistoryaccount #mall_addr_btn{ margin-left: 5px; border: 1px solid #000; }
.xans-myshop-orderhistoryaccount .radio-style1 { display: flex; gap: 10px; }
.xans-myshop-orderhistoryaccount .radio-style1 input[type="radio"] { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0,0,0,0); margin: -1px; }
.xans-myshop-orderhistoryaccount .radio-style1 label { display: flex; margin: 0 !important; gap: 10px; align-items: center; background: #eee; padding: 0 15px; cursor: pointer; font-size: 12px; border-radius: 10px; line-height: 22px !important; }
.xans-myshop-orderhistoryaccount .radio-style1 input:checked+label { background: #000; color: #fff; }
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite .formGroup input[type="text"],
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite .formGroup input[type="password"],
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite .formGroup select,
.xans-myshop-orderhistoryaccount .ec-base-table.typeWrite .formGroup [class^="btn"]{ margin: 0; box-sizing: border-box; }





@media all and (max-width:767px) {
.xans-myshop-orderissuetax div.ec-base-help p, 
.xans-myshop-orderissuetax div.ec-base-help li{
    font-size: 10px;
}
}









@media all and (max-width:1024px) {
    .ec-base-layer { position:fixed; top:50%; left:0; right:0; min-width:320px; width:calc(100% - 32px); margin:0 auto; transform:translateY(calc(-50% + 0.5px)); }
    .ec-base-layer.typeSide {top: 0; left: 0; bottom: 0; width: 100%; transform: initial; }
    #popup .ec-base-layer { position:relative; top:auto; left:auto; width:100%; border:0; transform: initial; }
}