<div class="marquee">
    <div class="wrap">
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
        <span>AFTER DAWN, Before the Day | 조용한 아침의 순간에 집중합니다. </span>
    </div>
</div>