.pop_swp { position: fixed; z-index: 9000; 
    display:none;
    bottom: 10px;left: 10px;
    width: 420px;
    overflow: hidden;
    border: 1px solid #eee;
}	


.pop_swp .closeInfo {background: #fff;  font-size: 14px;  font-weight: 300; padding: 12px 15px;     
    display: flex;flex-wrap: wrap;justify-content: space-between;font-size: 12px;}
.pop_swp .closeInfo a {cursor: pointer; font-weight: 500;}

.pop_swp .closeInfo .closePop {display: inline-block; margin-left: 10px; padding-left: 10px; position: relative;}
.pop_swp .closeInfo .more_view {display: inline-block; line-height: 1.0; padding: 8px 12px; border: 1px solid #b1b1b1; border-radius: 16px; position: absolute; right: 15px; top: 50%; transform: translateY(-50%); }

.pop_swp label {margin: 0; padding: 0;}

.pop_swp .pop_swp { position: absolute;    width: 100%;  margin:0; }
.pop_swp .pop_swiper {position: relative; overflow: hidden;}
.pop_swp .pop_swiper .swiper-slide img {width:100%;}	
.pop_swp .swiper-pagination{position: absolute; display: inline-block; padding: 3px 10px; 
    border-radius: 25px; right: 10px; bottom: 10px; text-align: left; 
    background:  rgba(0,0,0,0.3);color: rgba(255,255,255,0.5);left: unset;top: unset;width: unset;}
.pop_swp .swiper-pagination span{color: #ffffff; opacity: 0.5;}
.pop_swp .swiper-pagination span.swiper-pagination-current{opacity:1;}
/*
.pop_swp .numPager {position: absolute; display: inline-block; padding: 6px 13px; border-radius: 25px; right: 15px; bottom: 55px; text-align: left; background:  rgba(0,0,0,0.3);color: #ffffff; font-size: 15px; letter-spacing: -.8px; z-index: 5;}
.pop_swp .numPager .swiper_current {font-family: 'Roboto';}
.pop_swp .numPager .swiper_total {color: #ffffff; opacity: 0.5; }
.pop_swp .numPager .bar {display: inline-block; width: 1px; height: 9px;  margin: 0 6px; background: #fff; opacity: .5;}
*/




.pop_swp.type2{border-radius: 0;}
.pop_swp.type2::before{border-radius: 0;}
.pop_swp.type2 .closeInfo{background: #000;color: #fff;}




.pop_swp.type3 {
    top: 0;left: 0;
    bottom: auto;
    width: 100%;
    height: 100%;
}
.pop_swp.type3 .pop-content{
    position: absolute;
    top: 50%;
    bottom: auto;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
}
.pop_swp.type3{border-radius: 0;}
.pop_swp.type3::before{border-radius: 0;}
.pop_swp.type3 .closeInfo{background: #fff;color: #000;}
.pop_swp.type3 .dimmed2{position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
}

@media (max-width:767px) {
    .pop_swp{
        width: calc(100% - 20px);
        left: 10px;
    }
}