.benefit{ border: 0; padding: 0px 0 30px; margin-bottom: 30px; background: #000; padding: 20px; color: #fff; }
.benefit h2.headline{padding: 50px 0;font-size: 16px;font-weight: 500;}
.benefit .flex{ display: flex; }
.benefit .info{}
.benefit .col-left{ flex: 1; }
.benefit .col-left .info{ display: flex; flex-direction: column; padding-right: 10px; }
.benefit .col-left .info strong{ flex-basis: 100%; font-weight: 600;
     font-size:16px; }
.benefit .col-left .user__thumb img{ border-radius: 50%; overflow: hidden; }
.benefit .col-left .info .txt{ display: flex; gap: 10px; align-items: flex-end; justify-content: space-between; margin-top:30px}
.benefit .col-left .info .txt .name-wrap{flex:1;}
.benefit .col-left .info .txt .name{margin-right: auto; font-size: 30px; }
.benefit .col-left .info .txt .link{ border: 1px solid #ffff; padding: 5px 15px; border-radius: 20px; } 
.benefit .col-left .grade{ color: #fff; }
.benefit .col-left .grade.m{display:none}
.benefit .col-left .grade p{ margin-top: 5px; font-size: 12px; }
.benefit .col-left .grade *{color:#fff;font-size: 10px !important;}
.benefit .col-left .user__thumb{}
.benefit .col-left .user__info{}
.benefit .col-right{ display: flex; }
.benefit .col-right > a{ display: flex; flex-direction: column; align-items: center; min-width: 150px; border-left: 1px solid #3a3a3a; justify-content: space-between; }
.benefit .col-right .title{color: #969696;} 
.benefit .col-right .data{ font-size: 20px;font-weight: 600; }
#xans_myshop_bankbook_coupon_cnt::after{
    content: "ê°œ";
}

@media all and (max-width:1024px) {
    body #container{padding-top: 0;}
    .myshopMain .order{display: none;}
   
    .myshopArea{
        margin-top: 0 !important;
    }
    #contents{
       padding: 0 0 50px !important;
    }
    .benefit .flex{
        flex-wrap: wrap;
        height: auto;
    }
    .benefit .col-left .info{
        padding-right: 0;
        border-bottom: 1px solid #3a3a3a;
        padding-bottom: 10px;
        height: auto;
    }
    .benefit .col-left .info .txt{margin-top:0;}
    .benefit .col-left .info strong{
        margin-bottom: 30px;
        font-size: 16px;
    }
    .benefit .col-left .info .txt .name{
        font-size: 20px;
    }
    
    .benefit .col-left{
        flex: 1 0 100%;
    }
   
    .benefit .col-right{
        padding-top: 20px;
        flex: 1;
    }
    .benefit .col-right > a{
        flex: 1;
    }
    .benefit .col-right > a{border: 0;}
    .benefit .col-left .info .txt .link{
        font-size: 11px;
        padding: 3px 8px;
    }
     .benefit .col-left .grade.pc{display:none}
    .benefit .col-left .grade.m{display:block}
}

/* .xans-myshop-asyncbankbook ul { display:flex; flex-wrap:wrap; justify-content:space-around; }


.xans-myshop-asyncbankbook li { position:relative; text-align:center; vertical-align:top; box-sizing:border-box; }
.xans-myshop-asyncbankbook a:hover { text-decoration:none; }
.xans-myshop-asyncbankbook li:not(:last-child):after { content:""; display:inline-block; position:absolute; right:0; width:1px; background:#e5e5e5; vertical-align:middle; }
.xans-myshop-asyncbankbook .thumb { display:block; }
.xans-myshop-asyncbankbook .title { display:block; font-weight:normal; color:#6d6d6d; box-sizing:border-box; } */

/********************* Mobile / Tablet *********************/
/* @media all and (max-width:1024px) {
    .xans-myshop-asyncbankbook { border-top:1px solid #e5e5e5; border-bottom:1px solid #e5e5e5; }
    .xans-myshop-asyncbankbook li { width:33%; padding:20px 0; }
    .xans-myshop-asyncbankbook .xans-myshop-asyncbenefit { flex:auto; width:100%; border-bottom:1px solid #e5e5e5; }
    .xans-myshop-asyncbankbook .xans-myshop-asyncbenefit .group { display:none; }
    .xans-myshop-asyncbankbook li:not(:last-child):after { top:0; height:100%; }
    .xans-myshop-asyncbankbook .user { display:flex; text-align:left; padding:5px 16px; }
    .xans-myshop-asyncbankbook .user__thumb { width:42px; height:42px; margin:0 16px 0 0; overflow:hidden; border-radius:50%; }
    .xans-myshop-asyncbankbook .user__info { flex:1; font-size:15px; font-weight:bold; }
    .xans-myshop-asyncbankbook .user__data { display:block; margin:8px 0 0; font-size:14px; color:#6d6d6d; font-weight:normal; }
    .xans-myshop-asyncbankbook .thumb { width:30px; height:30px; margin:0 auto 10px; }
    .xans-myshop-asyncbankbook .data { display:block; font-size:14px; line-height:1; font-weight:bold; }
    .xans-myshop-asyncbankbook .title { margin:7px 0 0; font-size:12px; }
} */

/********************* PC *********************/
/* @media all and (min-width:1025px) {
    .xans-myshop-asyncbankbook { border-top:1px solid #000; border-bottom:1px solid #e5e5e5;}
    .xans-myshop-asyncbankbook li { flex:1; padding:28px 0 27px; }
    .xans-myshop-asyncbankbook li:not(:last-child):after { top:50%; height:48px; margin-top:-24px; }
    .xans-myshop-asyncbankbook .xans-myshop-asyncbenefit .user { display:none; }
    .xans-myshop-asyncbankbook .thumb { width:30px; height:30px; margin:0 auto 5px; }
    .xans-myshop-asyncbankbook .data {  font-size:15px; line-height:30px; font-weight:bold; }
    .xans-myshop-asyncbankbook .title { margin:2px 0 0; font-size:13px; }
} */