.xans-myshop-couponserial{
    margin-bottom: 30px;
}
.xans-myshop-couponserial h3{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.xans-myshop-couponserial .couponSerial {
}
.xans-myshop-couponserial .wrap{
    display: flex;
    gap: 10px;
}
.xans-myshop-couponserial .wrap .btnSubmitFix{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0;
}

.xans-myshop-couponlist .couponList .ec-base-table{
    border: 0;
}
.xans-myshop-couponlist .couponList .ec-base-prdEmpty {
    text-align: center;
    color: #6d6d6d;
    border-top: 1px solid #000;
    border-bottom: 1px solid #e5e5e5;
    padding: 50px 0;
}


@media all and (max-width:1024px) {
    .xans-myshop-couponserial .wrap input{flex: 1;}
} 
@media all and (max-width:767px) {
    
    .xans-myshop-couponserial .wrap input{flex: auto;}
    .xans-myshop-couponserial .wrap{
        flex-direction: column;
    }
} 



/********************* Mobile / Tablet *********************/
/* @media all and (max-width:1024px) {
    .xans-myshop-couponserial .couponSerial { margin:0 0 34px; padding:30px 16px; }
    .xans-myshop-couponserial .couponSerial #coupon_code { width:100%; }
    .xans-myshop-couponserial .couponSerial #coupon_code + .btnSubmitFix { width:100%; margin:10px 0 0; }
} */

/********************* PC *********************/
/* @media all and (min-width:1025px) {
    .xans-myshop-couponserial .couponSerial { margin:0 0 50px; padding:37px; }
    .xans-myshop-couponserial .couponSerial #coupon_code { width:342px; }
    .xans-myshop-couponserial .couponSerial .btnSubmitFix { margin:0 0 0 6px; }
} */