.xans-myshop-orderhistorylistitem .order { position:relative; }
.xans-myshop-orderhistorylistitem .order__number { display: flex; align-items: center; gap: 10px; overflow: hidden; font-size: 13px; padding: 15px 0; border-top: 1px solid #000; }
.xans-myshop-orderhistorylistitem .order__number .date { font-weight: 600; }
.xans-myshop-orderhistorylistitem .order__number .number{ border: 1px solid #000; padding: 3px 8px; border-radius: 5px; font-size: 11px; line-height: 1; }
.xans-myshop-orderhistorylistitem .btnDetail {
    position: absolute;
    top: 19px;
    right: 0;
}
.xans-myshop-orderhistorylistitem .request { position:relative; overflow:hidden; padding:25px 0 0; text-align:right; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    /* .xans-myshop-orderhistorylistitem .order__number { margin:50px 0 0; } */
    /* .xans-myshop-orderhistorylistitem .request { padding:25px 16px; } */
    .orderList .ec-base-button[class*="gMColumn"]{
        margin-left: 0;margin-right: 0;
    }
    .orderList .ec-base-button[class*="gMColumn"] .gRight{
        display: flex;
        gap: 10px;
    }
    .orderList .ec-base-button[class*="gMColumn"] [class^='btn']{
        margin: 0;
    }
}
@media all and (max-width:767px) {
    .orderList .ec-base-button[class*="gMColumn"] .gRight {
        flex-direction: column;
    }
}

/********************* PC *********************/
/* @media all and (min-width:1025px) {
    .xans-myshop-orderhistorylistitem .order__number { margin:60px 0 0; }
    
} */