
.regularDeliveryPayInfo { position:relative; margin:0 0 30px; }
.regularDeliveryPayInfo > .title { margin:0 0 20px; font-size:12px; color:#353535; }
.regularDeliveryPayInfo .information {     border: 1px solid #000;
    padding: 20px;}
.regularDeliveryPayInfo .information .title { display:table-cell; height:24px; padding:0 15px 0 0; line-height:24px; font-size:12px; background:url(//img.echosting.cafe24.com/skin/base/common/ico_bar.gif) no-repeat 100% 6px; }
.regularDeliveryPayInfo .information .content { display:table-cell; }
.regularDeliveryPayInfo .information .status {
    position: relative;
    padding: 0 15px;
    color: #2f8cce;
    font-weight: 600;
}
.regularDeliveryPayInfo .information .info { padding:13px 15px 0; color:#939393; line-height:1.5; }
.regularDeliveryPayInfo .information .button { padding:0 0 0 10px; }
.regularDeliveryPayInfo .information .button > .btnEm { padding:6px 10px; background:#4a5164; }
.regularDeliveryPayInfo .information .button > .btnNormal { padding:6px 10px; border:1px solid #b4b4b4; }

.regularDeliveryPayInfo ul { margin:10px 0 0; color:#939393; line-height:1.5; }
.regularDeliveryPayInfo ul li { padding:0 0 0 9px; background: url(//img.echosting.cafe24.com/skin/base/common/ico_square2.gif) no-repeat 4px 7px; }
.regularDeliveryPayInfo .ec-base-tooltip { top:90px; right:25px; }
.regularDeliveryPayInfo .ec-base-tooltip p + p { margin:10px 0 0; }
