.xans-product-menupackage { margin:0 0 0px; }
.xans-product-menupackage .title { min-height:30px; margin:10px 0 20px; }
.xans-product-menupackage .title .banner { margin:0 0 20px; }
.xans-product-menupackage .title h2 { color:#4a5164; font-size:16px; }
.xans-product-menupackage .title h2,
.xans-product-menupackage .title .likeButton { display:inline-block; vertical-align:middle; }
.xans-product-menupackage .title .likeButton button { margin:0 0 0 10px; padding:0 0 0 20px; height:16px; font-family:verdana; color:#9a9a9a; letter-spacing:-1px; background:none; }
.xans-product-menupackage .title .likeButton.selected button { color:#353535; }

.xans-product-menupackage.front{
    display: flex;
    justify-content: space-between;
}
.xans-product-menupackage.front .btn-all{display: none;}

.xans-product-menupackage .breadcrumb{
    color: #797979;
}
.xans-product-menupackage .breadcrumb ol{display: flex;font-size: 11px;}
.xans-product-menupackage .breadcrumb ol li{}
.xans-product-menupackage .breadcrumb ol li+li::before {
    content: '/';
    margin: 0 5px;
}

.xans-product-menupackage.side-cate{
    min-width: 200px;
    box-sizing: border-box;
}
.xans-product-menupackage .menuCategory {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    margin-bottom: 20px;gap: 8px;
}
.xans-product-menupackage .menuCategory > li { }
.xans-product-menupackage .menuCategory > li a { 
    display: block;
    padding: 2px 5px;
    color: #000;
}
.xans-product-menupackage .menuCategory > li > a:hover { 
}
.xans-product-menupackage .menuCategory > li.selected > a {
    text-decoration: underline;
    font-weight: 500;

}
.xans-product-menupackage .menuCategory > li .count {  }
.xans-product-menupackage .menuCategory > li > ul {
    padding-left: 20px;
}
.xans-product-menupackage .menuCategory > li > ul > li { }
.xans-product-menupackage .menuCategory > li > ul > li > a { }
.xans-product-menupackage .menuCategory > li > ul > li > a:hover,
.xans-product-menupackage .menuCategory > li > ul > li.selected > a { color:#000; text-decoration: underline;}
.xans-product-menupackage .menuCategory > li > ul > li > .button {  }
.xans-product-menupackage .menuCategory > li > ul > li > .button img {display: none;  }

.xans-product-menupackage .subCategory {padding-left: 20px; }
.xans-product-menupackage .subCategory li { }
.xans-product-menupackage .subCategory li a { }
.xans-product-menupackage .subCategory li a:hover,
.xans-product-menupackage .subCategory li.selected a { color: #000;text-decoration: underline; }
.xans-product-menupackage .menuCategory .button.selected { z-index:11; }
.xans-product-menupackage .menuCategory .button.selected .subCategory { display:block; }


.xans-product-menupackage .mobile-cate{display: none;}




@media (max-width:1024px) {
    .xans-product-menupackage.side-cate{top: 60px;}   
}
@media (max-width:767px) {

    .xans-product-menupackage .menuCategory{
        justify-content: flex-start;
        flex-wrap: nowrap;   
        white-space: nowrap;
        overflow-x: auto;
    }
    .xans-product-menupackage .menuCategory:-webkit-scrollbar {
        display: none;
      }
      .xans-product-menupackage .menuCategory{
        -ms-overflow-style: none; 
        scrollbar-width: none; 
      }
    .xans-product-menupackage .prd-header{
        flex-basis: 100%;
    }

    .xans-product-menupackage.side-cate{position: relative;top: 0;}   

    .xans-product-menupackage .menuCategory{
        margin-bottom: 10px;
    }
    
    .xans-product-menupackage.front{
        position: relative;
        background: #fff;
        z-index: 10;
        padding: 10px 0px;
    }
    .xans-product-menupackage .breadcrumb ol{
        font-size: 12px;
    }
    .xans-product-menupackage.front{
        flex-wrap: wrap;
    }
    .xans-product-menupackage.front .btn-all{display: flex;
        flex-basis: 100%;
        border: 1px solid #000;
        align-items: center;
        justify-content: center;
        height: 32px;
        margin-top: 10px;
        border-radius: 3px;
    }
    .xans-product-menupackage.front .btn-all.on{
        background: #000;
        color: #fff;
    }
}