.ec-base-product.xans-product-listrecommend {margin-bottom: 40px;}
.ec-base-product.xans-product-listrecommend .paginate{display: none;}
.ec-base-product.xans-product-listrecommend .swiper{}


@media all and (max-width:1024px) {
    
}
@media all and (max-width:767px) {
    .ec-base-product.xans-product-listrecommend .swiper{margin: 0 -20px;padding:0 20px;}
}
/* .xans-product-listrecommend { margin:0; padding:0; }
.xans-product-listrecommend:first-child h2 { border-top:0; }
.xans-product-listrecommend h2 { margin:0; padding:14px 14px 0; font-size:14px; line-height:15px; color:#4a5164; }
.xans-product-listrecommend img { max-width:100%; }
.xans-product-listrecommend li { vertical-align:top; margin:0 0 14px; }
.xans-product-listrecommend .prdList > li { position:relative; }
.xans-product-listrecommend > ul > li > ul > li { display:inline-block; padding:0; vertical-align:top; font-size:12px; line-height:1.4; }

@media all and (max-width:767px) {
    .xans-product-listrecommend.ec-base-product {margin-right: 16px; margin-left: 16px;}
}

@media all and (min-width:768px) and (max-width:1024px) {
    .xans-product-listrecommend.ec-base-product {margin-right: 24px; margin-left: 24px;}
}

@media all and (min-width:1025px) {
    .xans-product-listrecommend{margin: 0 -10px 0 0;}
} */