.xans-product-relation{
    padding-bottom: 30px;
    /* padding: 0 20px; */
}
.xans-product-relation .relation h2 { 
    font-size: 14px;
    font-weight: 500;
    padding: 16px 20px;
}
.xans-product-relation .swiper{
    padding-bottom: 30px;
}
.xans-product-relation .pagination{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    gap: 5px;
}
.xans-product-relation .pagination .swiper-pagination-bullet{background: #000;margin: 0;
    width: 20px;
    height: 2px;
    border-radius: 0;
}
.xans-product-relation .pagination .swiper-pagination-bullet-active{}

.xans-product-relation .prdList::-webkit-scrollbar { width:8px; height:2px; }
.xans-product-relation .prdList::-webkit-scrollbar-button { display:none; }
.xans-product-relation .prdList::-webkit-scrollbar-thumb { border:0; background:#000; }

.xans-product-relation .xans-product-relationlist{
    padding: 0 20px;
}
.xans-product-relation .prdList img { vertical-align:middle; }
.xans-product-relation .prdList__item { }
.xans-product-relation .prdList__item .box { margin:0 auto; font-size:13px; line-height:18px; }
.xans-product-relation .prdList__item .thumb {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.xans-product-relation .prdList__item .thumb img { width:100%; }
.xans-product-relation .prdList__item .name {}
.xans-product-relation .prdList__item .name a{display: block;}

.xans-product-relation .prdList__item .price { 
    font-size:12px; color:#000;
    line-height: 16px;
}
.xans-product-relation .prdList__item .txt-wrap{
    padding: 10px 0;
}


.xans-product-relation .promotion {
    position: absolute;
    top: 0px;
    right: 0px;
}

.xans-product-relation .promotion:has(span) {
    width: 100%;
    height: 100%;
}

.xans-product-relation .promotion img {
    display: none;
}

.xans-product-relation .promotion span {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}




.xans-product-relation .spec{font-size: 12px;}
.xans-product-relation .prdList__item span:not(.salePrice.displaynone) + .prdPrice { margin-left:8px; font-size:14px; color:#939393; text-decoration:line-through; }

.xans-product-relation .prdList__item .salePrice strong { color:#000; }
.xans-product-relation .prdList__item .strike { font-weight:normal; text-decoration:line-through; color: #c5c5c5;}
.ec-base-product .spec > li.salePrice {}
.ec-base-product .spec:has(.salePrice.displaynone) .prdPrice{}
 @media all and (max-width:1024px) {
    .xans-product-relation .relation h2{padding: 16px 20px 8px}
 }
/********************* Mobile / Tablet *********************/
    /* .xans-product-relation .relation { margin:60px 16px; }
    .xans-product-relation .relation h2 { margin:0 0 30px; font-size:22px; }
	.xans-product-relation .prdList { margin-left: -5px; padding:0 0 40px; white-space:nowrap; overflow:auto; }
    .xans-product-relation .prdList__item { width: calc(50% - 12px); margin:0 5px; white-space: normal; }
    .xans-product-relation .prdList__item .thumb { display:block; margin:0 0 14px; }
    
    .xans-product-relation .button { display:none; }
}  */

/********************* Tablet *********************/
/* @media all and (min-width:768px) and (max-width:1024px) {
    .xans-product-relation .relation { margin:60px 24px; }
    .xans-product-relation .prdList__item { width:33.3%; }
} */

/********************* PC *********************/
/* @media all and (min-width:1025px) {
    .xans-product-relation .relation { margin:100px 0; }
    .xans-product-relation .relation h2 { margin:0 0 50px; font-size:30px; }
    .xans-product-relation .prdList { display:flex; flex-wrap:wrap; margin:0 -10px; }
    .xans-product-relation .prdList__item { width: calc(20% - 20px); margin:40px 10px 0; }
    .xans-product-relation .prdList__item .thumb { display:block; margin:0 0 23px; }
    .xans-product-relation .prdList__item .thumb img { max-width:232px; }
    .xans-product-relation .button { margin:60px 0 0; text-align:center; }
    .xans-product-relation .prdList__item:nth-child(5) ~ li { display:none; }
    .xans-product-relationlist.showAll .prdList__item:nth-child(5) ~ li { display:block; }
} */