/* .xans-mall-company .info { border-top:1px solid #000; }
.xans-mall-company .map { border-top:1px solid #000; }
.xans-mall-company .map img { max-width:100%; }
.xans-mall-company .xans-layout-footer { padding:0; }

@media all and (max-width:1024px) {
    .xans-mall-company .info { padding:30px 16px 50px; line-height:22px; }
    .xans-mall-company .map { padding:30px 0; }
    
}
@media all and (min-width:1025px) {
    .xans-mall-company .info { padding:30px 0 0; line-height:22px; }
    .xans-mall-company .map { margin:0 0 50px; padding:30px 0 0; }
} */

/* body #contents{max-width: 100%;} */
body #container{}
body #contents{max-width: 800px;}
.xans-mall-company .thumb{}
.xans-mall-company .thumb img{
    margin: 0 auto;
}
.xans-mall-company .info{
    margin-top: 16px;

}
.xans-mall-company .info p{
    font-size: 14px;
    line-height: 1.5;
}
.xans-mall-company .info p+p{
    margin-top: 10px;
}
@media all and (max-width:1024px) {
    .xans-mall-company .content{
        gap: 50px;
    }
}
@media all and (max-width:768px) {
    .xans-mall-company .content{
        flex-direction: column;
    }
    .xans-mall-company .info{
        margin-top: 25px;
    }
    .xans-mall-company .info p{}
}