

body{
}
.xans-mall-location{}
.xans-mall-location .text-area{}

.store__list{
    display: grid;grid-template-columns: repeat(1,1fr);
    gap: 20px;
}
.store__list .info{
    margin-top: 10px;
}
.store__list .store__item{
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}
.store__list h3{
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 600;
}
.store__list h4{
    color: #858585;
    font-size: 11px;
    margin-bottom: 20px;
}
.store__list .store__tel{
    margin-bottom: 20px;
}


@media (max-width:1024px) {
    .store__list{
        display: grid;grid-template-columns: repeat(1,1fr);
    }
}
@media (max-width:768px) {
    .store__list{
        display: grid;grid-template-columns: repeat(1,1fr);
        gap: 10px;
    }
    .store__list .store__item{
        padding: 0 0 20px;
    }
    
}