
/* .xans-mall-faq h3{
    font-weight: 600;
    font-size: 16px;
}
.xans-mall-faq .contents{
    font-size: 14px;
    line-height: 1.6;
    padding: 16px 0;
    color: #565656;
}
.xans-mall-faq b{
    font-weight: 600 !important;
    font-size: 14px;
} */



.xans-mall-privacy .date { display:block; margin:0 0 20px; font-size:16px; color:#000; }
.xans-mall-privacy .btnDate { font-size:13px; line-height:20px; color:#000; text-decoration:underline; }