#container { /* padding: 0px 0 150px; */ }
.myshopArea{  }
.myshopArea { position: relative; padding: 0 0 0 210px; }
.xans-myshop-main { position:absolute; left:0; top:0; width:200px; 
    box-sizing: border-box;
}
.xans-myshop-main .title {  font-size:20px; }
.xans-myshop-main .subTitle { margin:0px 0 0; }
.xans-myshop-main h3 { color: #9e9e9e; font-size:12px; font-weight:normal; }
.xans-myshop-main .menu {margin-bottom: 50px;}
.xans-myshop-main .menu li {  margin: 25px 0 0; }
.xans-myshop-main .menu li a { display:block; color:#000; font-size:15px; text-decoration:none; font-weight: 600; }
.xans-myshop-main .consult { margin:45px 0 0; }



@media (max-width:1024px) {
  
    .myshopArea{ padding: 0; }
    .xans-myshop-main{
        display: none;
        position: relative; width: 100%; 
        padding: 0 20px;
    }
    .myshopMain .xans-myshop-main {display: block;}
    .xans-myshop-main .menu{ margin-bottom: 0; }
    .xans-myshop-main .menu li{ }
    .xans-myshop-main .subTitle:not(:first-child){ border-top: 1px solid #ddd; margin-top: 30px; padding-top: 20px; }
}

@media all and (max-width:767px) {
   
}