.xans-myshop-orderhistoryapplyreturn .order { position:relative; }
/* .xans-myshop-orderhistoryapplyreturn .order__number { overflow:hidden; padding:20px 0 20px 15px; font-size:13px; background-color:#f6f6f6; border-top:1px solid #000; }
.xans-myshop-orderhistoryapplyreturn .order__number .date { font-weight:bold; } */

.xans-myshop-orderhistoryapplyreturn .order__number { display: flex; align-items: center; gap: 10px; overflow: hidden; font-size: 13px; padding: 15px 0; border-top: 1px solid #000; }
.xans-myshop-orderhistoryapplyreturn .order__number .date { font-weight: 600; }
.xans-myshop-orderhistoryapplyreturn .order__number .number{ border: 1px solid #000; padding: 3px 8px; border-radius: 5px; font-size: 11px; line-height: 1; }



.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery{background-color:#fbfafa;vertical-align:middle;padding:10px 20px 10px 40px;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery .inner{display: flex;align-items:center;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery .address{flex:1;display: block;padding-right:20px;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery .waybill{flex:none;display: inline-block;}

.xans-myshop-orderhistoryapplyreturn .direct { width:100%; }
.xans-myshop-orderhistoryapplyreturn .direct .input { display:flex; }
.xans-myshop-orderhistoryapplyreturn .direct #pickup_invoiceno { margin-left:10px; }

.xans-myshop-orderhistoryapplyreturn textarea { width:100%; }
.itemAddInfo input { width:100%; }

.xans-myshop-orderhistoryapplyreturn p.ec-base-help { margin:10px 0 0; }

/* INPUT */
#pickup_phone1_1, #pickup_phone2_1 { width:86px; }
#pickup_phone1_2, #pickup_phone1_3,
#pickup_phone2_2, #pickup_phone2_3 { width:86px; }
#delivery_info_offer_content { width:95%; }





.xans-myshop-orderhistoryapplyreturn .productSelect {  background:#f9f9f9; }
.xans-myshop-orderhistoryapplyreturn .exchangeProduct { border-top:1px solid #000; }
.xans-myshop-orderhistoryapplyreturn .direct { width:100%; margin-top: 10px;}
.xans-myshop-orderhistoryapplyreturn .direct .input { display:flex; margin-bottom: 10px;}
.xans-myshop-orderhistoryapplyreturn .direct #pickup_invoiceno { margin-left:10px; }

.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery{background-color:#fbfafa;vertical-align:middle;padding:10px 20px 10px 40px;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery .inner{display: flex;align-items:center;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery .address{flex:1;display: block;padding-right:20px;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeList .xans-myshop-products .multiDelivery .waybill{flex:none;display: inline-block;}

.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td input[type="text"],
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td input[type="password"],
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td select { width: 100%; flex: 1; }
.xans-myshop-orderhistoryapplyreturn #returnExchange_state_wrap{ display: flex !important; flex-direction: column; gap: 10px; margin-top: 10px; }
.xans-myshop-orderhistoryapplyreturn #returnExchange_state_wrap select,
.xans-myshop-orderhistoryapplyreturn #returnExchange_state_wrap input{ flex: auto; }
#returnExchange_directInputCheck_wrap{margin-top: 10px;}
#r_address_state,
#r_address_city,
#gu_name_addr{margin-bottom: 10px;}

#returnExchange_area_wrap {margin-bottom: 10px;}
#returnExchange_zipcode_wrap{ display: flex; flex-wrap: wrap; }
#returnExchange_zipcode_wrap .ec-base-label{ display: flex; flex: 1 0 100%; align-items: center; margin: 0; margin-top: 10px; }
#returnExchange_zipcodeNotFoundMsg_wrap{ flex: 1 0 100%; margin: 0; }
#returnExchange_baseAddr_wrap{margin-bottom: 10px;}
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite .formGroup.code{ padding: 0; display: flex; align-items: center; gap: 5px; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite .formGroup.code select,
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite .formGroup.code input{ flex: 1; margin: 0; }




.xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo.gCheck .quantity { border: 0; padding-right: 0; align-items: flex-end; 
    box-sizing: border-box;
}
.xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo .prdFoot { padding-top: 10px; }
.exchangeProduct .quantity{ display: flex; align-items: center; padding-right: 30px; }
.exchangeProduct .ec-base-prdInfo .btnDelete{ top: 20px; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table{ border: 0; }
.xans-myshop-orderhistoryapplyreturn .addTxt{ font-size: 12px; color: #858585; display: block; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite{ padding: 0; }
.xans-myshop-orderhistoryapplyreturn .subTxt { color: #868686; font-size: 12px; line-height: 22px; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td input[type="text"],
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td input[type="password"], 
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td select{ border: 1px solid #e0e0e0; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite th[scope*="row"]{ display: block; background: none; border-bottom: 0; padding: 0; padding: 4px 0; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td{ display: block; border-bottom: 0; padding: 0; margin-bottom: 10px; }
.xans-myshop-orderhistoryapplyreturn textarea { width:100%; resize: none; box-sizing: border-box; display: block; }
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td label{ line-height: 22px; }

.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td input[type="text"],
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td input[type="password"],
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite td select { width: 100%; flex: 1; }






/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
  
    .xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo.gCheck .quantity{
      align-items: center;
      padding-left: 25px;
    }
  }
  


