.xans-board-title p.imgArea { margin:0 0 20px; }

.xans-board-modify .ec-base-box.typeProduct { margin:0 0 40px; }
.xans-board-modify .information h3 { margin:0 0 2px; padding:0 120px 0 0; font-size:14px; }
.xans-board-modify #sPrdCommonImg { position:absolute; top:0; right:0; width:100px; text-align:right; }
.xans-board-modify .information .button { margin:15px 0 0; }

.xans-board-modify .captcha img { vertical-align:middle; margin-left:4px; }
.xans-board-modify [class^="point"] em { font-style:normal; }
.xans-board-modify .file td { color:#7d7d7d; }
.xans-board-modify .file label { color:#000; }
.xans-board-modify .file [id^="delfile"] { margin-left:20px; }
.xans-board-modify .agree textarea { margin:0 0 14px; }

/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
	.xans-board-modify .ec-base-table input[type="text"],
    .xans-board-modify .ec-base-table input[type="password"],
    .xans-board-modify .ec-base-table select { width:100%; }
    .xans-board-modify #email1 { width:47%;  }
    .xans-board-modify #email2 { width:47%; flex:1;}
    .xans-board-modify #email3 { margin:10px 0 0; }
    .xans-board-modify #captcha { flex:1; margin-left:10px; }
    .xans-board-modify .file input[type="file"] { display:block; }
    .xans-board-modify .agree textarea { width:100%; height:140px; }
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    .xans-board-modify #writer { width:450px; }
    .xans-board-modify #email1,
    .xans-board-modify #email2 { width:138px; }
    .xans-board-modify #email3 { width:138px;  }
    .xans-board-modify #captcha { width:200px; margin:0 20px 0 10px; }
    .xans-board-modify #ucc { width:328px; }
    .xans-board-modify #ucc_width, 
    .xans-board-modify #ucc_height { width:150px; margin-left:4px; }
    .xans-board-modify #password { width:200px; }
    .xans-board-modify .agree textarea { width:550px; height:140px; }
}
.xans-board-modify #board_category{
    width: 100%;
    margin-bottom: 10px;
}
/********************* Mobile / Tablet / PC 1340 *********************/
/* @media all and (max-width:1340px) {
    .xans-board-modify #board_category { width:100%; }
	.xans-board-modify #subject {width:100%; margin:10px 0; }
} */

/********************* PC 1341 *********************/
/* @media all and (min-width:1341px) {
    .xans-board-modify #board_category { width:170px; margin:0 10px 0 0; }
	.xans-board-modify #subject { width:526px; margin:0 20px 0 0; }
} */


.write-from{ max-width: 560px; margin: 0 auto; }
.write-from input[type=text], 
.write-from select, 
.write-from input[type=password]{ border: 1px solid #c6c6c6; }
.write-from input[type=text]:disabled,
.write-from select:disabled { background-color: #efefef; color: #c6c6c6;}
.write-from{}
.write-from .row{}
.write-from .title{padding: 10px 0;display: block;}
.write-from .wrap{}
.write-from .subject .wrap{display: flex;flex-wrap: wrap;}
.write-from .subject .wrap .adminAnswer{
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
}
.write-from .subject .ec-base-label{margin: 0;margin-top: 10px;}
.write-from .wrap #subject{width: 100%;margin: 0;}
.write-from .wrap #writer{width: 100%;}
.write-from .email .wrap{display: flex;align-items: center;gap:5px;}
.write-from .email #email1,
.write-from .email #email2{flex: 1;width: 0%;}
.write-from .email #email3{flex: 1;margin: 0;opacity: 1;}
.write-from .wrap #ucc{width: 100%;}
.write-from .wrap #password{width: 100%;}
.write-from .secret .wrap{display: flex; align-items: center;}
.write-from .captcha {}
.write-from .captcha .formGroup{}
.write-from .captcha .formGroup .img{display: flex;align-items: center;}
.write-from .captcha .formGroup #captcha_Modify{width: 100px;}
.write-from .captcha #captcha{width: 100%;margin: 0;margin: 10px 0;}
.write-from .agree { border: 1px solid #c6c6c6; margin-top: 10px; }
.write-from .agree .title{ position: relative; display: flex; align-items: center; padding: 14px; font-weight: 500; }
.write-from .agree .title label{flex: 1;}
.write-from .agree .title .more{ position: absolute; top: 50%; right: 10px; transform: translateY(-50%); width: 30px; height: 30px; background:url("//img.echosting.cafe24.com/skin/skin/common/ico_select.png") no-repeat; background-size: 10px; background-position: center; }
.write-from .agree .wrap{ display: none; color: #767678; padding: 9px 14px 16px; line-height: 1.4; }
.write-from .agree .wrap.show{display: block;}
.write-from .file-area{ border: 1px solid #c6c6c6; margin-top: 10px; }
.write-from .file-area .row+.row{border-top: 1px solid #c6c6c6;}
.write-from .file-area .title{padding: 14px;}
.write-from .file-area input[type=file]::file-selector-button { width: 100px; height: 30px; background: #fff; border: 1px solid rgb(77,77,77); border-radius: 5px; cursor: pointer; }
.write-from .file-area input[type=file]::file-selector-button:hover{ background: #000; color: #fff; }
.write-from .file-area .name{ position: relative; display: flex; align-items: center; justify-content: space-between; margin-top: 10px; }
.write-from .file-area .name .text{ white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: calc(100% - 50px); }
.write-from .file-area .name .text input,
.write-from .file-area .name .text label{ position: absolute; width: 1px;height: 1px; clip: rect(0,0,0,0); margin: -1px; overflow: hidden; }
.write-from .file-area .name input{margin-left: auto;}
.write-from .file-area .del{ display: flex; align-items: center; gap: 5px; }
.write-from .file-area .del::before{ width: 15px; height: 15px; -webkit-transition: .2s ease-out; transition: .2s ease-out; border: 1px solid #000; content: ''; }
.write-from .file-area .del.on::before{ background-image: url(//img.echosting.cafe24.com/skin/skin/common/bg_checkbox_checked.png); background-size: 15px 15px; }
.write-from .file-area .preview{ max-width: 50%; }
.write-from .file-area .wrap{ padding: 14px; padding-top: 0; }
.write-from .star-wrap{display: flex;align-items: center;gap: 10px;}
.write-from .star-wrap .star_rating {box-sizing: border-box; display: inline-flex; flex-direction: row; justify-content: flex-start; }
.write-from .star-wrap .star_rating .star { width: 25px; height: 25px; display: inline-block; background: url('/img/ic_star.png') no-repeat; background-size: 100%; box-sizing: border-box; }
.write-from .star-wrap .star_rating .star.on { width: 25px; height: 25px; display: inline-block; background: url('/img/ic_star_on.png') no-repeat; background-size: 100%; box-sizing: border-box; }
.write-from .star-wrap .star_box { width: 400px; box-sizing: border-box; display: inline-block; margin: 15px 0; background: #F3F4F8; border: 0; border-radius: 10px; height: 100px; resize: none; padding: 15px; font-size: 13px; font-family: sans-serif; }
.write-from .star-wrap .star_box { width: 400px; box-sizing: border-box; display: inline-block; margin: 15px 0; background: #F3F4F8; border: 0; border-radius: 10px; height: 100px; resize: none; padding: 15px; font-size: 13px; font-family: sans-serif; }
.write-from .desc{color: #979797;}

